body{
    font-family: 'Poppins', sans-serif;
 

  }
  h1{
      font-size: 50px;
  }
  .orange_color{ 
    color: orange;
}
.flexiblecontent{
    display: flex;
    margin-bottom: 10px;

}
.half-width{
    width: 50%;
    padding-left : 5%;
}
.half-width img {
    width: 80%;
}
p{
    text-align: justify;
}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(luma.jpg);
    border-image-repeat: no-repeat;
}

.dream-big img{
    width:80%;
    padding-left : 5%;
}
.dream-big {
    width: 80%;
}
p{
    text-align: justify;
}


.middle-banner{
    background-image: url(luma.jpg);
    border-image-repeat: no-repeat;
}
form{
    background-image: url(luma.jpg);

}


.last-big {
    width: 50%;
    padding-left : 5%;
    padding-right: 5%;
border-radius: 2%;
    box-shadow: 10px 10px 40px  gray;
    margin-left: 5%;
    
}
p{
    text-align: justify;
}
.petercolor{
    color: orange;
}
#brdimu1{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);

   border-image-slice: 44;
}
#brdimu2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);

   border-image-slice: 44;
}
footer{
    text-align: center;
}